@charset "UTF-8";
/* Barlow */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,600;0,700;1,500;1,600&display=swap');
/* Fraunces */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,700;0,900;1,700;1,900&display=swap');

:root {
    /* fonts */
    --font1:'Barlow', serif;
    --font2:'Fraunces', sans-serif;
    /* Primary */
    --SoftRed: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --DarkDesaturatedCyan: hsl(167, 40%, 24%);
    /*graphic design text*/
    --DarkBlue: hsl(198, 62%, 26%);
    /*photography text*/
    --DarkModerateCyan: hsl(168, 34%, 41%);
    /*footer*/

    /* neutral */
    --VeryDarkDesaturatedBlue: hsl(212, 27%, 19%); 
    --VeryDarkGrayishBlue: hsl(213, 9%, 39%); 
    --DarkGrayishBlue: hsl(232, 10%, 55%); 
    --GrayishBlue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
}
html{
    font-size: 62.5%;
}
*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}
body{
    font-size: 1.8rem;
}
/*Header*/
header{
  background-image: url(images/mobile/image-header.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
nav{
  display: flex;
  justify-content: space-between;
  padding: 30px 20px 20px 20px;
}
a{
    text-decoration: none;
    color: var(--VeryDarkDesaturatedBlue);
    font:900 1.5rem var(--font2);
}
#logo-svg{
  width: 15rem;
}
/* menu togge */
.div-hunburger{
  position: absolute;
  right: 2rem;
  width: 35px;
 height: 30px;
}
.hunburger-dvs{
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: 3px;
  margin: 6px auto;
}
.menu-section ul{
  display: none;
}
.menu-bar{
  display: none;
}
.div-button{
  display: none;
}
.div-button-desktop{
  display: none;
}
.menu-section.on{
  position: absolute;
  display:block;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 28px;
  right:0;
  width: 88.5vw;
  padding: 3rem;
  height: 100%;
  max-height: 55%;
  background-color: var(--White);
  font:400 2rem var(--font2);
}
.menu-section.on ul{
  display: block;
  list-style-type: none;
  text-align: center;
}
.menu-section.on li{
  padding: 1.5rem 0px;
}
.menu-section.on a{
  font:400 2rem var(--font1);
  color: var(--DarkGrayishBlue);
}
.menu-section.on .div-button{
  display: block;
  text-align: center;
  margin: 40px 0px 0px 0px;
}
.menu-section.on .div-button button{
  width: 55%;
  padding: 6%;
  border: none;
  background-color: var(--Yellow);
  font:900 1.5rem var(--font2);
  box-shadow:0px 0px 4px 2px rgba(0, 0, 0, 0.127);
  color: var(--VeryDarkDesaturatedBlue);
  border-radius: 40px;
}
#div-button{
  display: none;
}
/* title */
#div-main-title{
 margin: auto;
}
#main-title{
  text-align: center;
  letter-spacing: 5px;
  padding: 1rem;
  color: var(--White);
  margin: 25% 0px 30px 0px;
  font:900 4rem var(--font2);
}
#arrow-down{
    display: block;
    margin: auto;
}
/* main contents */
.efect-link{
  margin: 26px 0px 0px 0px ;
  position: relative;
  height: 5px;
  padding: 4px;
  width: 36%;
  max-width: 12.1rem;
  border-radius: 5px;
}
.link-about-us{
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top:-1.25rem;
  bottom: 0;
  
}
#trasform-brand{
  display: flex;
  flex-direction: column;
}
#content-trasform-brand{
  order: 1;
  background-color: var(--White);
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5rem 2rem 4rem 2rem;
}
#title-transform-brand{
 font: 900 2.93rem var(--font2);
 color: var(--VeryDarkDesaturatedBlue);
 padding-bottom: 2.4rem;
}
#p-transform-brand{
  display: block;
  width: 100%;
  padding: 0px 1rem;
  color:var(--VeryDarkGrayishBlue);
  font:400 1.6rem var(--font1);
  line-height: 2.3rem;
  padding-bottom: 2.4rem;
}
.efect-link.brand{
  background-color: rgba(255, 255, 0, 0.51);
}
/* image egg*/
#egg-img-transform-brand > img{
  display: block;
  width: 100vw;
}
/* content below*/
#stand-out{
    width: 100vw;
}
/*image cup */
#cup-image-stand-out > img{
  width: 100vw;
}
/* content */
#content-stand-out{
 background-color: var(--White);
 width: 100vw;
 height: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 text-align: center;
 padding: 4rem 2rem 4rem 2rem;
}
#tilte-stand-out{
  font: 900 3.1rem var(--font2);
  color: var(--VeryDarkDesaturatedBlue);
  padding-bottom: 2.4rem;
}
#p-stand-out{
  display: block;
  width: 100%;
  padding: 0px 1.9rem;
  color:var(--VeryDarkGrayishBlue);
  font:400 1.6rem var(--font1);
  line-height: 2.3rem;
  padding-bottom: 2.4rem;
}
.efect-link.stand{
  margin: 26px 0px 0px 0px ;
  position: relative;
  background-color: pink;
  height: 5px;
  padding: 4px;
  width: 36%;
  border-radius: 5px;
}
/* design */
div#Graphic-design{
   background-image: url(images/mobile/image-graphic-design.jpg);
   width:100%;
   height:100vh;
   padding: 2rem;
   background-position: center;
   background-size:cover;
   background-repeat: no-repeat;
   display:flex;
   flex-direction:column;
   text-align: center;
   justify-content: end;
   margin-top: -10px;
}
#title-Graphic-design{
  color: var(--DarkDesaturatedCyan);
  font: 900 2.5rem var(--font2);
  padding-bottom: 2rem;
}
#p-Graphic-design{
  color: var(--DarkDesaturatedCyan);
  font:400 1.6rem var(--font1);
  line-height: 2.3rem;
  padding-bottom: 4rem;
  margin-bottom: 4.5rem;
  padding: 0px 0px 0px 0px ;
}
/* photography */
div#Photography{
  background-image: url(images/mobile/image-photography.jpg);
  width:100%;
  height:100vh;
  padding: 2rem;
  background-position: center center;
  background-size:cover;
  background-repeat: no-repeat;
  display:flex;
  flex-direction:column;
  text-align: center;
  justify-content: end;
}
#title-photography{
  color: var(--DarkBlue);
  font: 900 2.5rem var(--font2);
  padding-bottom: 2rem;
}
#p-Photography{
  color: var(--DarkBlue);
  font:400 1.6rem var(--font1);
  line-height: 2.3rem;
  padding-bottom: 4rem;
  margin-bottom: 4.5rem;
  padding: 0px 0px 0px 0px ;
}
/* clients */
section#Client-testimonials{
display: flex;
flex-direction: column;
text-align: center;
padding: 0px 3.5rem;
}
#title-Client-testimonials{
  color: var(--GrayishBlue);
  font: 900 1.4rem var(--font2);
  letter-spacing: 0.5rem;
  padding: 10px;
  margin-top: 4.5rem;
}
.avatar-clients{
  border-radius: 50%;
  width: 20%;
  padding: 3rem 0rem;
}
.paragraphs-client {
  color: var(--VeryDarkGrayishBlue);
  font:400 1.6rem var(--font1);
  line-height: 2.5rem;
  margin-bottom: 2.2rem;
}
/* extra */
.client-name{
  font: 900 1.5rem var(--font2);
}
.client-profession{
  color: var(--GrayishBlue);
  font:400 1.2rem var(--font1);
  padding:1rem 1rem 3rem 1rem;
}
#client-3-jennie{
  padding-bottom: 6.5rem;
}
section#img-galery{
 display:flex;
 flex-direction: row;
 flex-wrap: wrap;
}
.images-galery{
 display: block;
 width:50%;
}
footer{
 background-color:aquamarine;
 display: flex;
 flex-direction: column;
 color: #2C7566;
}
#company-name > img{
  display: block;
  padding: 4rem 0px;
  margin: auto;
}
#div-links-footer{
  display: flex;
  padding-bottom: 5rem;
  max-width: 400px;
  margin: auto;
}
.nav-links-footer{
 color: #2C7566;
 font-size: 2rem;
 padding: 0px 2rem;
 font-family: var(--fonte1);
}
.fa-brands{
  color: aliceblue;
}
#copy{
    font-size: 1.3rem;
    text-align: center;
    padding: 20px;
}
/* ---------height smartphones */
@media screen and (max-height:450px){
  div#Photography{
  height: 450px;
  }
}
@media screen and (max-height:450px){
  div#Graphic-design{
  height: 450px;
  }
}

@media screen and (min-width:400px){
  html{
    font-size: 70%;
  }
  header{
    background-position: center;
  }
  div#Photography{
    background-position: top;
  }
  div#Graphic-design{
    background-position: center;
  }
  @media screen and (max-height:600px){
    div#Photography{
    height: 600px;
    }
  }
  @media screen and (max-height:500px){
    div#Graphic-design{
    height: 500px;
    }
  }
}
/* images */
@media screen and (min-width:500px){
  #main-title{
    margin: 15% 0px 30px 0px;
  }
html{
  font-size: 75.5%;
}
header{
  background-image: url(images/desktop/image-header.jpg);
}
div#Graphic-design{
  background-image: url(images/desktop/image-graphic-design.jpg);
}
div#Photography{
  background-image: url(images/desktop/image-photography.jpg);
}
.menu-section.on{
  max-height: 65%;
}
.menu-section.on li{
  padding: 1.4rem 0px;
}
.menu-section.on .div-button{
  margin: 2rem 0px 0px 0px;
}
#title-Graphic-design{
  font: 900 3rem var(--font2);
  padding-bottom: 2rem;
}
#p-Graphic-design{
  font:400 1.8rem var(--font1);
  margin-bottom: 5rem;
}
#title-photography{
  color: var(--DarkBlue);
  font: 900 2.5rem var(--font2);
  padding-bottom: 2rem;
}
#p-Photography{
  font:400 1.8rem var(--font1);
  margin-bottom: 5rem;
}
}
/* title */
@media screen and (min-width:600px){
  #main-title{
    font: 900 3.8rem var(--font2);
    padding: 2rem;
    margin: 10% 0px 30px 0px;
  }
}
@media screen and (min-width:750px){
  section#img-galery{
    display:flex;
    flex-direction: row;
   }
   .images-galery{
    display: block;
    width:25%;
   }
   footer{
    background-color:aquamarine;
    display: flex;
    flex-direction: column;
    color: #2C7566;
   }
   #company-name > img{
     display: block;
     padding: 4rem 0px;
     margin: auto;
   }
   #div-links-footer{
     display: flex;
     justify-content: space-around;
     padding-bottom: 5rem;
   
   }
   .nav-links-footer{
    color: #2C7566;
    font-size: 2rem;
    font-family: var(--fonte1);
   }
   .fa-brands{
     color: aliceblue;
   }
   #copy{
       font-size: 1.3rem;
       text-align: center;
       padding: 20px;
   }
}
/* tablet screern */
@media screen and (min-width:800px){
 html{
   font-size: 85%;
 }
 nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 10px 50px 8px;
}
#logo-svg{
  width: 13rem;
}
.menu-section.on{
  display: none;
}
.div-hunburger{
  display: none;
}
section.desktop-meu{
  display: flex;
  height: 100%;
  margin-right: 10rem ;
  align-items: center;
  padding-right: 0.3rem;
}
.menu-bar{
  display: block;
  display: flex;
  list-style-type: none;
}
.options{
  padding: 0px 1rem 0px 1rem;
}
.options > a{
  font:400 1.5rem var(--font1);
  color: var(--White);
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.252);
}
.div-button{
  display: none;
}
.div-button-desktop{
  cursor: pointer;
  display: block;
  width: 1rem;
  margin:0px 0px 0px 2rem;
}
.div-button-desktop > button{
  cursor: pointer;
  border: none;
  width: 150px;
  padding: 1.2rem;
  border: none;
  background-color: var(--White);
  font:900 1.1rem var(--font2);
  box-shadow:0px 0px 4px 2px rgba(0, 0, 0, 0.127);
  color: var(--VeryDarkDesaturatedBlue);
  border-radius: 30px;
}
.div-button-desktop > button:hover{
  background-color: rgba(255, 255, 255, 0.193);
  color: var(--White);
}
.link-about-us{
  top:-1.5rem;
}
.efect-link :hover{
  cursor: pointer;
}
#trasform-brand{
  display: flex;
  flex-direction: row;
}
#content-trasform-brand{
  order: 0;
  width: 50vw;
  padding: 3rem 2rem 5rem 2rem;
}
#title-transform-brand{
 font: 900 2.8rem var(--font2);
 color: var(--VeryDarkDesaturatedBlue);
 padding-bottom: 1rem;
}
#egg-img-transform-brand > img{
  width: 50vw;
  height: 100%;
}
/*---------------*/
#stand-out{
  width: 100vw;
  display: flex;
  flex-direction: row;
}
/*image cup */
#cup-image-stand-out > img{
width: 50vw;
height: 100%;
}
/* content */
#content-stand-out{
width: 50vw;
height: 100%;
padding: 3rem 2rem 5rem 2rem;
}
#tilte-stand-out{
font: 900 2.8rem var(--font2);
padding-bottom: 1rem;
}
.efect-link.stand{
padding: 5px;
}
/* ------------------------------ */
section#design-and-Photography{
  display: flex;
  height: 700px;
}
div#Graphic-design{
  width:50%;
  height: auto;
  margin-top: 0;
}
#title-Graphic-design{
 font: 900 2rem var(--font2);
 padding-bottom: 1rem;
}
#p-Graphic-design{
 font:400 1.3rem var(--font1);
 line-height: 2rem;
 padding-bottom: 4rem;
 margin-bottom: 0.5rem;

 padding: 0px 0px 0px 0px ;
}
/* photography */
div#Photography{
 width:50%;
 height: auto;
}
#title-photography{
 font: 900 2rem var(--font2);
 padding-bottom: 1rem;
}
#p-Photography{
 font:400 1.3rem var(--font1);
 line-height: 2rem;
 padding-bottom: 4rem;
 margin-bottom: 1rem;
 padding: 0px 0px 0px 0px ;
}
/* ------------------------------------ */
  .avatar-clients{
    width: 15%;
  }
  .paragraphs-client {
    font:400 1.3rem var(--font1);
    margin: 0px 2rem 2.2rem 2rem;
  }
  /* extra */
  .client-name{
    font: 900 1.3rem var(--font2);
  }
  .client-profession{
    font:400 1rem var(--font1);
  }
  /* ------------------footer------------ */
  .nav-links-footer:hover{
    color: var(--White);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.383);
  }
}
@media screen and (min-width:900px){
  section#Client-testimonials{
    padding: 0px 0px 5rem 0px;
  }
#clients{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.clients{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}
    #title-Client-testimonials{
      font: 900 1.4rem var(--font2);
      letter-spacing: 0.5rem;
      padding: 10px;
      margin-top: 4.5rem;
    }
    .avatar-clients{
      border-radius: 50%;
      width: 20%;
      padding: 3rem 0rem;
    }
    .paragraphs-client {
      font:400 1.2rem var(--font1);
      line-height: 1.8rem;
      margin-bottom: 2.2rem;
    }
    /* extra */
    .client-name{
      font: 900 1.5rem var(--font2);
    }
    .client-profession{
      color: var(--GrayishBlue);
      font:400 1.2rem var(--font1);
      padding:1rem 1rem 3rem 1rem;
    }
    #client-3-jennie{
      padding-bottom: 3rem;
    }
    #title-photography {
      font: 900 2.4rem var(--font2);
      padding-bottom: 2rem;
    }
    #p-Photography{
      font: 400 1.6rem var(--font1);
      padding: 0px 0px 3rem 0px;
    }
    #title-Graphic-design{
      font: 900 2.4rem var(--font2);
      padding-bottom: 2rem;
    }
    #p-Graphic-design{
      font: 400 1.6rem var(--font1);
      padding: 0px 0px 1.9rem 0px;
    }
}
@media screen and (min-width:1025px){
  html{
    font-size: 80%;
  }
  #main-title{
    margin: 5% 0px 30px 0px;
  }
  nav{
    padding: 17px 30px 20px 30px;
  }
  #logo-svg{
    width: 10rem;
  }
  .options > a{
    font:400 1.2rem var(--font1);
  }
  .div-button-desktop > button{
    font:900 1.1rem var(--font2);
    border-radius: 40px;
  }
  .options{
    padding: 0px 2rem 0px 2rem;
  }
  #content-trasform-brand{
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    margin: auto;
    padding: 5rem 4rem 4rem 4rem;
  }
  #title-transform-brand{
   font: 900 2.8rem var(--font2);
   padding-bottom: 1rem;
  }
  #p-transform-brand{
    padding: 0px 1rem 0px 0px;
  }
  #content-stand-out{
    align-items: flex-start;
    text-align: left;
    margin: auto;
    padding: 4rem 4rem 4rem 4rem;
   }
   #p-stand-out{
     padding: 0px 1.9rem 0px 0px ;
   }
    /* -------------------------------------- */
   div#Graphic-design{
    width:100%;
    height: 50rem;
    padding: 2rem 6rem 1rem 6rem;
    margin-top: 0px;
 }
 #title-Graphic-design{
   font: 900 2.5rem var(--font2);
   padding-bottom: 2rem;
 }
 #p-Graphic-design{
   font:400 1.6rem var(--font1);
   padding-bottom: 4rem;
   margin-bottom: 4.5rem;
   padding: 0px 0px 0px 0px ;
 }
 /* photography */
 div#Photography{
   width: 100%;
   height:50rem;
   padding: 2rem 6rem 1rem 6rem;
 }
 #title-photography{
   font: 900 2.5rem var(--font2);
   padding-bottom: 2rem;
 }
 #p-Photography{
   font:400 1.7rem var(--font1);
   padding-bottom: 4rem;
   margin-bottom: 4.5rem;
   padding: 0px 0px 0px 0px ;
 }
 section#Client-testimonials{
  padding: 0px 0px 6rem 0px;
  margin-top: -30px;
}

}
@media screen and (min-width:1200px){
  #content-trasform-brand{
    padding:4rem 4rem 4rem 8rem;
  }
  #title-transform-brand{
   font: 900 3.2rem var(--font2);
   padding-bottom: 2rem;
  }
  #p-transform-brand{
    padding: 0px 1rem 2rem 0px;
  }
  #content-stand-out{
    padding:4rem 4rem 4rem 8rem;
   }
   title-stand-out{
    font: 900 3.2rem var(--font2);
    padding-bottom: 2rem;
   }
   #p-stand-out{
    padding: 0px 1rem 2rem 0px;
   }
   .avatar-clients{
    width: 15%;
  }
  .paragraphs-client {
    font:400 1.5rem var(--font1);
    line-height: 2rem;
    margin: 0px 2rem 2.2rem 2rem;
  }
}

